
        <li className="nav-item">
          {/* parent pages*/}<a className="nav-link dropdown-indicator" href="#routine" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dashboard">
            <div className="d-flex align-items-center"><span className="nav-link-icon"><span className="fas fa-calendar-alt" /></span><span className="nav-link-text ps-1">Routine Management</span>
            </div>
          </a>
          <ul className="nav collapse" id="routine">
            <li className="nav-item"><NavLink className="nav-link active" to="/create-routine">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Create Routine</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            <li className="nav-item"><NavLink className="nav-link" to="/manage-routine">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Manage Routine</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            
          </ul>         
        </li>





        <li className="nav-item">
          {/* parent pages*/}<a className="nav-link dropdown-indicator" href="#teacher" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dashboard">
            <div className="d-flex align-items-center"><span className="nav-link-icon"><span className="fas fa-user-tie" /></span><span className="nav-link-text ps-1">Teacher Management</span>
            </div>
          </a>
          <ul className="nav collapse" id="teacher">
            <li className="nav-item"><NavLink className="nav-link active" to="/create-teacher">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Create Teacher</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            <li className="nav-item"><NavLink className="nav-link" to="/manage-teacher">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Manage Teacher</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            
          </ul>         
        </li>





        <li className="nav-item">
          {/* parent pages*/}<a className="nav-link dropdown-indicator" href="#result" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dashboard">
            <div className="d-flex align-items-center"><span className="nav-link-icon"><span className="fas fa-clipboard-list" /></span><span className="nav-link-text ps-1">Result Management</span>
            </div>
          </a>
          <ul className="nav collapse" id="result">
            <li className="nav-item"><NavLink className="nav-link active" to="/create-result">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Create Result</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            <li className="nav-item"><NavLink className="nav-link" to="/manage-result">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Manage Result</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            
          </ul>         
        </li>







        <li className="nav-item">
          {/* parent pages*/}<a className="nav-link dropdown-indicator" href="#class" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dashboard">
            <div className="d-flex align-items-center"><span className="nav-link-icon"><span className="fas fa-store-alt" /></span><span className="nav-link-text ps-1">Class Management</span>
            </div>
          </a>
          <ul className="nav collapse" id="class">
            <li className="nav-item"><NavLink className="nav-link active" to="/create-class">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Create Class</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            <li className="nav-item"><NavLink className="nav-link" to="/manage-class">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Manage Class</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            
          </ul>         
        </li>





        <li className="nav-item">
          {/* parent pages*/}<a className="nav-link dropdown-indicator" href="#subject" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dashboard">
            <div className="d-flex align-items-center"><span className="nav-link-icon"><span className="fas fa-book-reader" /></span><span className="nav-link-text ps-1">Subject Management</span>
            </div>
          </a>
          <ul className="nav collapse" id="subject">
            <li className="nav-item"><NavLink className="nav-link active" to="/create-subject">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Create Subject</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            <li className="nav-item"><NavLink className="nav-link" to="/manage-subject">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Manage Subject</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            
          </ul>         
        </li>






        <li className="nav-item">
          {/* parent pages*/}<a className="nav-link dropdown-indicator" href="#service" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dashboard">
            <div className="d-flex align-items-center"><span className="nav-link-icon"><span className="fas fa-list" /></span><span className="nav-link-text ps-1">Service Management</span>
            </div>
          </a>
          <ul className="nav collapse" id="service">
            <li className="nav-item"><NavLink className="nav-link active" to="/create-service">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Create Service</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            <li className="nav-item"><NavLink className="nav-link" to="/manage-service">
                <div className="d-flex align-items-center"><span className="nav-link-text ps-1">Manage Service</span>
                </div>
              </NavLink>
              {/* more inner pages*/}
            </li>
            
          </ul>         
        </li>

